html,
body {
    margin: 0;
    padding: 0;
}

body {
	max-width: 1200px;
  margin: 0 auto;
  font-family: "Roboto", "Arial", sans-serif;
  background: rgb(132, 157, 143);
  color: white;
  padding-top: 10px;
}

/*

img {                     
  max-width: 100 
  height: auto; 
}

*/

.page-header, 
.container,
.page-footer {
  padding-left: 27px;
  padding-right: 27px;
}

.visually-hidden { 
  position: absolute; 
  margin: -1px; 
  padding: 0; 
  height: 1px; 
  width: 1px; 
  border: 0;
  overflow: hidden; 
  clip: rect(0 0 0 0); 
}

/* header */

.main-nav {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.wrapper-main-menu {
  display: flex;

}

.wrapper-user-menu {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.logo {
  margin-right: 15px;
}

.main-nav li {
  list-style: none;
  
}


.main-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 420px;
  position: relative;
  padding: 0;
  margin: 0;
}

.main-menu li {
  margin-right: 15px;
  padding-right: 13px;
  padding-left: 13px;
}

.main-menu > li:hover .sub-menu,
.main-menu > li:focus .sub-menu {  /*??? tab не переходит на подменю*/
  display: block;
}

.main-menu a {
  display: block;
  color: white;
  text-decoration-color: rgba(255, 255, 255, 0.2); 
  text-underline-position: under; 
}

.sub-menu {
  display: flex;
  flex-direction: column;
  display: none;
  
  padding: 0;
  padding-top: 4px;
  padding-bottom: 5px;
  border-radius: 5px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  
  position: absolute;
  left: -10px;
  top: 20px;
  
  min-width: 143px;
  
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.sub-menu li {
  padding: 0;
  margin: 0;
  padding-left: 6px;
  padding-right: 9px;
  text-align: left;
}

.sub-menu a {
  font: inherit;
  display: block;
  padding-left: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: rgb(50, 50, 50);
  text-decoration: none;
  
}

.hits a {
  display: block;
  
  padding-left: 14px;
  padding-top: 11px;
  padding-bottom: 11px;
  
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  border-bottom: solid 1px rgb(202, 208, 206);  /*  посоветоваться!!! */
}



.sub-menu > li:hover,
.sub-menu > li:focus  {

  background-color: rgb(251, 222, 215);
}


.sub-menu > li:active {
  background-color: rgb(246, 181, 165);
}


.user-nav {
  display: flex;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  margin-bottom: 18px;
  
}

.user-nav li {
  margin-right: 10px;
  
}

.user-nav li:last-child {
  margin-right: 0;
}

.wrapper-user-menu p {
  align-self: flex-end;
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.wrapper-user-menu b {
  align-self: flex-end;
  margin: 0;
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}


.user-nav a {
  color: white;
  text-decoration: none;

}

.user-nav > li:hover,
.user-nav > li:focus {
  background-color: white;
}

.user-nav > li:hover a,
.user-nav > li:focus a {
  color: black;
}


.user-nav > li:hover .svg-fill,
.user-nav > li:focus .svg-fill {
  fill: black;
}


.search {
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  width: 32px;
  height: 32px;
}


.loupe-icon {
  position: absolute;
  top: 7px;
  right: 7px;
}

.modal-search {
  width: 300px;
}

.search-form p {
  padding: 20px 15px;
}

.search-form input[type="search"] {
  width: 309px;
  height: 42px;
  padding-left: 14px;
  border: solid 1px rgb(211, 211, 210);
  border-radius: 6px;
  font-size: 14px;
  line-height: 24px;
}


.login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  width: 77px;
  height: 32px;
  padding-right: 15px;
}

.login a,
.basket a {
  margin-left: 8px;
}

.basket {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  width: 82px;
  height: 32px;
  padding-right: 34px;
}

.user-nav p {
  margin: 0;
  margin-bottom: 10px;
}


/*
.slider-image .btn {
	font-size: 32px;
	line-height: 44px;
}*/


/*  promotion  */

.promotion {
  display: flex;
  justify-content: space-between;
  color: white;
  margin-bottom: 37px;
}

.promotion h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 19px;
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.promotion p {
  margin: 0;
  margin-bottom: 37px;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  
}

.left-promo {         /* доп класс .promo-block для стиле блока промо???*/
  display: flex;
  flex-direction: column;
  width: 519px;
  
  border-radius: 15px;
  padding: 23px 21px 20px 20px;
  background-image: url("../img/raspberry.jpg");
}

.right-promo {        /* доп класс .promo-block для стиле блока промо???*/
  display: flex;
  flex-direction: column;
  
  width: 519px;
  
  border-radius: 15px;
  padding: 23px 21px 20px 20px;
  background-image: url("../img/chokolate.jpg");
}

.btn { 
  font: inherit;
  border-radius: 40px;
  background-image: linear-gradient(to top, rgb(231, 74, 53), rgb(242, 104,67));
  color: white;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.btn:hover,
.btn:focus {
  background-image: linear-gradient(to top, rgb(236, 111, 94), rgb(245, 134, 105));
} 

.btn:active {
  background-image: linear-gradient(to top, rgb(242,104,67), rgb(231,74,53));
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}

.btn-promo {
  align-self: flex-end;
  padding: 10px 22px;
}

/* popular-items */

.popular-items {
	/* margin-bottom: 34px; */  /* если не нужно переполнение "хитов"" на главной */
}

.popular-items ul {
	display: flex;
  flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

.catalog-item {
  position: relative;
	max-width: 267px;
	margin-left: 0;  
	margin-bottom: 34px;  /* для переполнения "хитов"" на главной */
	list-style: none; /* не действует!! нужен ли он тут?*/
	text-align: center;
  cursor: pointer;
}


.price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
  color: white;
  position: absolute;
  top: 200px;
  left: 0;
  
}

.weight {
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
  color: white;
  position: absolute;
  top: 204px;
  left: 120px;
  
}

.hit-icon {
  position: absolute;
  width: 61px;
  height: 61px;
  background-image: url("../img/hit-icon.svg");
  font-size: 8px;
}

.catalog-item img {
  margin-bottom: 14px;
}

.catalog-item p {
  margin: 0;
}

.catalog-item a {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: white;
  text-decoration-color: rgba(255, 255, 255, 0.2); 
  text-underline-position: under;
}


/*  seo  */

.seo {
  color: rgb(50, 50, 50);
  padding: 25px 25px 0 20px;
  margin-bottom: 40px;
  border-radius: 15px;
  background-image: url("../img/wafer.jpg");
}

.seo p {
  margin: 0;
}

.seo li {
  position: relative;
  margin-left: 60px;
  margin-bottom: 25px;
  list-style: none;
  width: 480px;

}

.seo .seo-lead {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 25px;
}

.seo-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.seo-ice-cream::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  top: -15px;
  left: -57px;
  background-image: url(../img/ice-cream.svg);
   background-repeat: no-repeat;
  background-position: 0, 0;
}

.seo-leaf::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  top: -15px;
  left: -57px;
  background-image: url(../img/leaf.svg);
   background-repeat: no-repeat;
  background-position: 0, 0;
}

.seo-cow::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  top: -15px;
  left: -57px;
  background-image: url(../img/cow.svg);
   background-repeat: no-repeat;
  background-position: 0, 0;
}

.seo-term::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  top: -15px;
  left: -57px;
  background-image: url(../img/term.svg);
  background-repeat: no-repeat;
  background-position: 0, 0;
}


/* news*/

.wrapper-news {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

}


.news {
	color: rgb(50, 50, 50);
	width: 540px;
  min-height: 195px;
	padding-top: 25px;
  padding-left: 20px;
	border-radius: 15px;
	background-image: url("../img/strawberry.jpg");
}

.news h3 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  

}

.news p {      /* как сделать чтобы картинка масштабировалась при переполнении?*/
  margin: 0;
  width: 290px;
}

.news a {
  display: block;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: rgb(50, 50, 50);
}


/* subscribe */

.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  color: rgb(50, 50, 50);
  width: 530px;
  height: 185px;
  padding-top: 25px;
  padding-left: 20px;
  margin-top: 5px;
  margin-right: 5px;
  border-radius: 15px;
  background-color: rgb(248, 247, 244);
  
  
}

.subscribe::after {
  position: absolute;
  content: "";
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  border-radius: 15px;
  background-image: repeating-linear-gradient(135deg, #f8f7f4 0px,
    #f8f7f4 5px, #92cdff 5px, #92cdff 10px, #f8f7f4 10px,
    #f8f7f4 15px, #fe9e90 15px, #fe9e90 20px);
  z-index: -1;
}

.subscribe p {        /* не получается сориентировать кнопку и форму по правому краю! */
  width: 500px;
  margin: 0;
  margin-bottom: 35px;
  

}

.subscribe-form {   /* не получается сориентировать кнопку и форму по правому краю! */
  display: flex;
}

.subscribe-form p {    /* не получается сориентировать кнопку и форму по правому краю! */

}
  

/* contacts */

.contacts {
  position: relative;
  margin-bottom: 40px;
}

.feedback {
  position: absolute;
  top: 62px;
  right: 27px;
  padding: 30px 25px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  color: rgb(50, 50, 50); 
}

.adress {
  margin: 0;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.phone {
  margin: 0;
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.adress b {
  font-size: 18px;
  line-height: 24px;  
  font-weight: 700;
}

.phone b {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.phone span {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.button-feedback-1 {
  padding: 10px 28px;
}

/* footer */

.page-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.footer-social li {
  list-style: none;
  margin-right: 14px;
}

.social-button {
  display: block;
  width: 32px;
  height: 32px;
  border: 3px solid rgb(194, 206, 199);
  border-radius: 50%;
  
}

.social-fill {
  fill: rgb(230, 235, 233);
}

.social-button:hover {
    border-color: rgb(218, 226, 222)
}

.social-button:hover .social-fill {
  fill: white;
}

.social-button:active {
  border-color: rgb(218, 226, 222)
} 

.social-button:active .social-fill {
  fill: rgb(233, 233, 233);
}


.service-info ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  
}

.service-info li {
  list-style: none;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.flex-wrap:first-child li:first-child {
  position: relative;
  font-weight: 700;
}

.flex-wrap:first-child li:first-child::after {
  content: "";
  position: absolute;
  top: 2px;
  left: -20px;
  width: 15px;
  height: 15px;
  background-image: url(../img/heart.svg);
  background-repeat: no-repeat;
  background-position: 0, 0;
}


.flex-wrap {
  margin-right: 25px;
}


.service-info a {
  font: inherit;
  color: white;
  text-decoration-color: rgba(255, 255, 255, 0.2); 
  text-underline-position: under;  
}



/* modal */

.modal {
  border-radius: 6px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  display: none;
}










}
