html,
body {
    margin: 0;
    padding: 0;
}

body {
	min-width: 900px;
	max-width: 1200px;
  font-family: "Roboto", "Arial", sans-serif;
  background: rgb(132, 157, 143);
  color: white;
}

.container,
.page-footer {
  padding-left: 22px;
  padding-right: 22px;
}

.visually-hidden { 
  position: absolute; 
  margin: -1px; 
  padding: 0; 
  height: 1px; 
  width: 1px; 
  border: 0;
  overflow: hidden; 
  clip: rect(0 0 0 0); 
}

/* header */

.main-nav {
  
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.main-nav li {
  list-style: none;
}


.main-menu {
  position: relative;
  padding: 0;
}

.main-menu a {
  color: white;
}

.sub-menu {
  padding: 0;
  padding-top: 4px;
  padding-bottom: 5px;
  border-radius: 5px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  position: absolute;
  
  left: 184px;
  top: 60px;
  
  min-width: 143px;
  
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.sub-menu li {
  text-align: left;
  margin-bottom: 3px;

}

.sub-menu a {
  font: inherit;
  display: block;
  padding-left: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: rgb(50, 50, 50);
  text-decoration: none;
  vertical-align: middle;
}

.sub-menu .hits a {
  display: block;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  border-bottom: solid 1px rgb(202, 208, 206);  /*  посоветоваться!!! */
}



.sub-menu a:hover,
.sub-menu a:focus  {
  background-color: rgb(251, 222, 215);
}


.sub-menu a:active {
  background-color: rgb(246, 181, 165);
}

/*
.sub-menu a {
  background-color: rgb(208, 112, 88);
}
*/
.user-nav {
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  
}

.user-nav a {
  color: white;
  text-decoration: none;

}

.modal-search {
  width: 300px;
}

.search-form p {
  padding: 20px 15px;
}

.search-form input[type="search"] {
  width: 309px;
  height: 42px;
  padding-left: 14px;
  border: solid 1px rgb(211, 211, 210);
  border-radius: 6px;
  font-size: 14px;
  line-height: 24px;
}


/*
.slider-image .btn {
	font-size: 32px;
	line-height: 44px;
}*/


/*  promotion  */

.promotion {
  display: flex;
  color: white;
  margin-bottom: 37px;
}

.promotion h2 {
  margin: 0;
  padding: 0;
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.promotion p {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  
}

.left-promo {
  width: 519px;
  height: 184px;
  border-radius: 15px;
  margin-right: 26px;
  padding: 23px 21px 21px 20px;
  background-image: url("../img/raspberry.jpg");
}

.right-promo {
  width: 519px;
  height: 184px;
  border-radius: 15px;
  padding: 23px 21px 21px 20px;
  background-image: url("../img/chokolate.jpg");
}

.btn { 
  font: inherit;
  border-radius: 40px;
  background-image: linear-gradient(to top, rgb(231, 74, 53), rgb(242, 104,67));
  color: white;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.btn:hover,
.btn:focus {
  background-image: linear-gradient(to top, rgb(236, 111, 94), rgb(245, 134, 105));
} 

.btn:active {
  background-image: linear-gradient(to top, rgb(242,104,67), rgb(231,74,53));
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}

/* popular-items */

.popular-items {
	margin-bottom: 34px;
}

.popular-items ul {
	display: flex;
	align-items: flex-start;
	margin: 0;
	padding: 0;
}

.catalog-item {
	width: 267px;
	height: 330px;
	margin-left: 0;
	margin-right: 26px;
	list-style: none;
	text-align: center;
}


.catalog-item:last-child {
	margin-right: 0;
}


/*  seo  */

.seo {
  color: rgb(50, 50, 50);
  width: 1146px;
  height: 305px;
  padding: 25px 25px 25px 20px;
  border-radius: 15px;
  background-image: url("../img/wafer.jpg");
}

.seo-lead {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  margin: 0;
}

.seo-items {
  display: flex;
  list-style: none;
}


/* news*/

.news {
	color: black;
	width: 560px;
	height: 220px;
	border-radius: 15px;
	background-image: url("../img/strawberry.jpg");
}


/* contacts */

.contacts {
	
}


/* footer */

.footer-social li {
    display: inline-block;
    list-style: none;
    margin-right: 14px;
}

.social-button {
    display: block;
    width: 32px;
    height: 32px;
    background-color: rgba(230, 235, 233, 1);
    border: 3px solid rgba(194, 206, 199, 1);
    border-radius: 50%;
    font-size: 0px;
    background-image: url(img/twitter.svg);
}

.social-button:hover {
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(218, 226, 222, 1)
}

.social-button:active {
    background-color: rgba(233, 233, 233, 1);
    border-color: rgba(218, 226, 222, 1)
} 



/* modal */



.modal {
  border-radius: 6px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
 
}






